@charset "utf-8";
/* *{
    border: red 1px solid;
} */



/* 全体へ影響 */
*{
    box-sizing: border-box;
}


html{
    position: relative;
    box-sizing: border-box;
    font-weight: bold;
    height: 100%;
}

body{
    width: 80%;
    height: auto;
    background: url(../images/board.png);
    display: flex;
    justify-content: space-between;
    margin: auto;
}

img{
    width: 100%;
    vertical-align: top;
}


/* dl{
    text-align: center;
    justify-content: space-between;
    width: 80%;
    margin: 0;
} */


/* プレイヤー側・COM側共有 */
.player, .enemy{
    background-color: rgb(9,97,163);
    padding-top: 3%;
    border-radius: 3px;
    margin: 1% 1%;
    padding: 2%;
    width: 100%;
    height: 70%;
}


#player-type, #com-type{
    display: block;
    font-weight: bold;
    text-align: center;
    border-radius: 2px;
    line-height: 1.6;
    width: 30%;
    background-color: yellow;
    margin: 5%;
}

.player-character, .com-character{
    /* padding-top: 2%; */
    background-color: bisque;
    border-radius: 3px;
    /* margin: 0 3%; */
}

.player-character table,.com-character table{
    width: 100%;
    margin: 0;
}

.player .player-character .name-parsonal, .com-character .name-parsonal{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.player .player-character .name-parsonal div, .com-character .name-parsonal div{
    width: 60%;
}

.player .player-character div p, .com-character p, #change-count{
    text-align: center;
    margin: 0 5%;
    margin: 2%;
    font-size: 1rem;
}



.Prole, .Erole{
    border: #333 2px solid;
    opacity: 80%;
}


.Prole div, .Erole div{
display: flex;
}


.Prole p, .Erole p{
    font-size: 1.5rem;
    margin: 0;
}

#player-attack-action,  #player-diffence-action, #com-attack-action, #com-diffence-action{
    font-size: 1.0rem;
    margin: 0;
}

.playerdiscard table, .comdiscard table{
    /* height: 75%; */
    margin: 2% auto;
}


.playerdiscard img, .comdiscard img{
    object-fit: none;
    object-position: left top;
    height: 65%;
    width: 70%;
    padding: 2%;
    border-radius: 3px;
    border: 0.5px white solid;
}


/* プレイヤー側 */
.player{
    position: absolute;
    bottom: 0;
    left: 0;
}

.player-character{
    position: absolute;
    bottom: 2%;
    left: 2%;
    width: 96%;
    height: 25%;
}

.life-player{
    position: absolute;
    width: 96%;
    top:2%;
    left: 2%;
    height: 15%;
    padding-top: 2%;
    background-color: bisque;
    border-radius: 3px;
}

.playerimgpoint{
    position: absolute;
    top: 19%;
    left: 0;
    width: 100%;
}

/* #playerimg{
    position: absolute;
    left: 2%;
    bottom: 0%;
} */

#right{
    position: relative;
}

.playerdiscard{
    position: absolute;
    bottom: 0;
    right: 0;
    height: 28%;
    background-color: rgb(9,97,163);
  }




/* COM側 */
.enemy{
    position: absolute;
    top: 0;
    right: 0;
    background-color: brown;
}

.com-character{
    position: absolute;
    bottom: 2%;
    right: 2%;
    width: 96%;
    height: 25%;
}

.life-enemy{
    position: absolute;
    width: 96%;
    top:2%;
    right:  2%;
    height: 15%;
    padding-top: 2%;
    background-color: bisque;
    border-radius: 3px;
    
}

.comimgpoint{
    position: absolute;
    top: 19%;
    left: 0;
    height: 100%;
    width: 100%;
}

.comdiscard{
    position: absolute;
    top: 0;
    left: 0;
    height: 28%;
    background-color: brown;
  }



/* ライフ関係 */
#left .retry{
    padding: 2%;
}




.life-point{
    margin: auto;
}


.life-point dd{
    display: flex;
    justify-content: right;
    margin: 0;
}

.life-point p{
    margin: 0;
}

.life-point dt{
    margin: 0;
    text-align: center;
    float: left;
    width: 25%;
  }
  
  .life-point dt::after{
    content: "："
  }

  .life-point dd{
    margin: 0;
    width: 70%;
    text-align: center;
}


#life-frame-player {
    margin: 5% auto;
    width: 80%;
    background-color: rgba(10, 0, 50, 0.6);
    display: flex;
    padding: 1.5%;
}

#life-bar-player {
    height: 5%;
    background-color: rgb(0, 255, 255);
    transition: 300ms
    
}

#life-mark-player {
    width: 100%;
    height: 3px;
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
    filter: saturate(500%);
    box-shadow: 0 0 5px 3px rgb(200, 255, 255),
                0 0 7px 7px rgb(100, 255, 255);
}


#life-frame-enemy {
    margin: 5% auto;
    width: 80%;
    background-color: rgba(10, 0, 50, 0.6);
    display: flex;
    padding: 3px 3px;
}

#life-bar-enemy {
    height: 3px;
    background-color: rgb(0, 255, 255);
    transition: 300ms
    
}

#life-mark-enemy {
    width: 100%;
    height: 3px;
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
    filter: saturate(500%);
    box-shadow: 0 0 5px 3px rgb(200, 255, 255),
                0 0 7px 7px rgb(100, 255, 255);
}






/* 表記関係 */
.player-name{
    display: block;
    text-align: center;
    border-radius: 2px;
    width: 50%;
    line-height: 1.6;
    background-color: bisque;
    margin: 0 0 5% 0;
    border-radius: 3px;
}
.com-name{
    display: block;
    text-align: center;
    border-radius: 2px;
    width: 50%;
    line-height: 1.6;
    background-color: bisque;
    margin: 0 0 5% 0;
    border-radius: 3px;
}



.player-character-condicion p, .com-character-condicion p
{
    display: flex;
    background-color: bisque;
    justify-content: space-between;
    padding: 2%;
    margin: 2%;
}


/* ボタン */
select{
    appearance: none;
    border: none;
    width: 100%;
    height: 100%;
    text-align: center;
}

#choice{
    width: 100%;
    height: 3em;
    font-size: 2erm;
    box-shadow: var(--drop-shadow);
    margin: auto;
}

select{
    font-size: 0.8rem;
    border: 2px solid rgb(9,97,163);
    /* background-color: rgb(9,97,163); */
    width: 90%;
    height: 3em;
    box-shadow: var(--drop-shadow);
    margin: 2.5%;
    padding: 1%;
    border-radius: 1px;
}

select option{
    /* background-color: #1981f7;
    width: 10rem; */
    font-size: 0.8rem;
}

/* .button  .button{
    margin-top: 5px;
} */

.comand{
    margin-left: 25%;
    width: 40%;
    height: 40%;
}

.com-comand{
    margin-left: 25%;
    width: 40%;
    height: 40%;
}

.cahnge-comand{
    text-align: center;
    /* margin-left: 25%; */
    width: 40%;
    height: 40%;
}

/* 左側 */
#left{
    position: relative;
    align-items: flex-end;
    width: 25%;
}

#left .player dl{
    margin: 2% auto;
}

#which .disabled{
    display: none;
}


#center{
    width: 48%;
    height: 98%;
}

/* #center .button{
    margin: 5px;
} */

#right{
    position: relative;
    width: 25%;
}



.field table{
    width: 100%;
    height: 100%;
    --drop-shadow:0 10px 25px 0 rgb(0 0 0 / 50%);
    margin: 0;
    height: auto;
    border-spacing: 5px;
}

/* ログ関係 */
#log{
    position: absolute;
    border: 5px solid gray;
    width: 100%;
    line-height: 1.6;
    margin: auto;
    margin-top: 3%;
    background-color: antiquewhite;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 3;
}

#log p{
    max-width: 100%;
    padding: 1rem;
    margin: 0 1%;
}


#black{
    position: absolute;
    background-color: #1981f7;
}



/* カード関連 */
.hands{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 1%;
}

.hands .cell{
    width:100%;
    height: 100%;
    padding: 1%;
} 

.card{
    transition: 0.3s linear;
    width: 100%;
    position: relative;
    z-index: 1;
}

.card.stock{
    box-shadow: var(--drop-shadow);
    filter:hue-rotate(135deg);
}

.card.selected{
    transform: translateY(var(--shiftY));
    box-shadow: var(--drop-shadow);
}

.card.com.selected{
    --shiftY: 20%;
}

.card.you.selected{
    --shiftY: -20%;
}


#draw1:hover{
    opacity: 0.5;
    cursor: pointer;
}

#draw1:active{
    position: relative;
    top: 3px;
}



#textGo{
    position: absolute;
    bottom: 2%;
    right: 2%;
}

#draw1 p{
    /* color: white;
    background-color: rgb(9,97,163); */
    margin: auto;

}

#retry{
    background-color: #d3d3d3;
    display: block;
    width: 120%;
    height: 120%;
    position: absolute;
    top: -10%;
    left: -10%;
    z-index: 4;
    border-radius: 5px;
}

#retry .win-lose-img{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 40%;
    text-align: center;
}

#retry img{
    height: 100%;
    width: auto;
    margin: auto;
}

#retry p{
    text-align: center;
    font-size: 1rem;
}

#retry .button{
    height: 25%;
    display: flex;
    justify-content: space-between;
    margin-top: 10%;
}

#retry div button{
    width: 30%;
    margin: 0 3%;
    font-size: 1rem;
    border-radius: 3px;
}

.lose{
    filter: grayscale(100%);
}


#retry.bihind{
padding: 5%;
    display: none;
    z-index: -1;
}




#log.bihind{
    padding: 5%;
        display: none;
        z-index: -1;
 }

.field{
    position: relative;
    width: 100%;
    height: 100%;
    margin: auto;
}


.discard table{
    background-color: brown;
}
/* 
.enemy-field{
    background-color: aqua;
    width: 100%;
} */

.field{
    position: relative;
}

#center{
    position: relative;
}

.player-field{
    position: relative;
}

.player-field p{
  text-align: center;
  background-color: aliceblue;
  padding: 5%;
  margin: 0;
}


#button-guard{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 40%;
    width: 20%;
    /* height: 28%; */
    background-color: black;
    opacity: 50%;
    z-index: 2;
}


.head{
    position: relative;
}

.hands #hand-guard{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    /* height: 28%; */
    background-color: black;
    opacity: 50%;
    z-index: 2;
}


.player-field td{
    background-color: rgb(9,97,163);
    width: 20%;
    height: 10%;
    margin: 0;
}

.enemy-field td{
    background-color: brown;
    width: 20%;
    height: auto;
    margin: 0;
}

.discard{
    margin: 5%;

}



/* #left .comdiscard table td{
    height: 30%;
} */

.player-hands{
    margin-top: 3%;
    width: 100%;
    height: 25%;
    position: relative;
    background-color: rgb(9,97,163);
}

.enemy-hands{
    width: 100%;
    height: 25%;
    /* margin-bottom: 2%; */
    position: relative;
    background-color: brown;
    
}

.bar{
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 25%;
}

.box{
    width: 30%;
    margin: 1%;
    border-radius: 15%;
}

.enemybar .box{
    background-color: brown;
}

.playerbar .box{
    background-color: rgb(9,97,163);
}

.middle-left, .middle-right{
    position: relative;
}

.enemybar{
    position: absolute;
    top: 1%;
    left: 1%;
}

.playerbar{
    position: absolute;
    bottom: 1%;
    right: 1%;
}

.shiny {
    display: block;
    position: relative;
    /* padding: 1em 1.5em; */
    background-color: #1981f7;
    /* box-shadow: 0 3px 0 0 #0867d4; */
    border-radius: 4px;
  /* margin:30px auto;
    font-weight: bold;
    font-size: 16px; */
  max-width:500px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    overflow: hidden;
  transition: 300ms;
}
.shiny::before {
    position: absolute;
    content: '';
    display: inline-block;
    top: -180px;
    left: 0;
    width: 30px;
    height: 100%;
    background-color: #b5e7ff;
    transition: 300ms;
    animation: shinyshiny 2.5s ease-in-out infinite;
}

@-webkit-keyframes shinyshiny {
    0% { -webkit-transform: scale(0) rotate(45deg); opacity: 0; }
    80% { -webkit-transform: scale(0) rotate(45deg); opacity: 0.5; }
    81% { -webkit-transform: scale(4) rotate(45deg); opacity: 1; }
    100% { -webkit-transform: scale(50) rotate(45deg); opacity: 0; }
}


.animationa{
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 1.45s;
    max-width: 100%;
  }


  .animation{
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 1.5s;
    max-width: 100%;
  }
  .keyframe0{
    animation-name: anim_po;
    position: relative;
  }
  
  @keyframes anim_po {
    0% {
      left: 0px;
      top: 0px;
    }
    100% {
        left: 5px;
        top: 1px;
    }
  }

  .keyframe5{
    animation-name: anim_sc;
    transform: scale(0.98,0.98);
  }
  
  @keyframes anim_sc {
    0% {
        right: 0px;
        top: 0px;
      }
    100% {
        right: 5px;
        top: 1px;
      transform: scale(1,1);
    }
  }

.example{
    display: block;
    width: 100%;
    box-sizing: border-box;
    background: aliceblue;
    /* padding: 10px 4px; */
    text-align: center;
    position: relative;
}

.enemy-field p{
    text-align: center;
    padding: 5%;
    margin: 0;
    background-color: aliceblue;
}

.bar .display{
    opacity: 20%;
}

.Prole{
    text-align: center;
    display: block;
    border-radius: 5px;
    width: 98%;
    height: 75%;
    position: absolute;
    top: 10%;
    left: 1%;
    z-index: 2;
}


.Erole{
    text-align: center;
    display: block;
    border-radius: 5px;
    width: 98%;
    height: 75%;
    position: absolute;
    top: 10%;
    left: 1%;
    z-index: 2;
}


.player-hands .Prole{    color: #ffffff;

    background-color: rgb(9,97,163);

}

.enemy-hands .Erole{
    color: #ffffff;
    background-color: brown;

}


.bihind{
    padding: 5%;
        display: none;
        z-index: -3;
    }

    #comimg{
        width: 100%;
        /* height: 50%; */
        object-fit: cover;

    }

    #playerimg{
        width: 100%;
        /* height: 50%; */
        object-fit: cover;
    }


    #character-type2, #character-type3{
        display: none;
    }


    .enemy-field{
        position: relative;
    }

    #cover{
        position: absolute;
        top:0;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 2;
        background-color: black;
        opacity: 0%;
      }



        .discard{
            opacity: 0%;
        }

        .discard2{
            opacity: 0%;
        }


        .playerdiscard td{
            padding: 0;
        }


/* /////////////////////////////////////////////////////////////////////////////////////// */
          /* 花吹雪 */
          .container {
            position: relative;
            /* width: 100%; */
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          
          .container img {
            width: 100%;
          }
          
          .confetti {
            position: absolute;
            width: 100%;
            height: 100%;
          }
          
          .confetti span {
            position: absolute;
            top: -10%;
            left: 0;
            width: 1.5vw;
            height: 1vw;
            background: #FFF;
          }
          
          /* add animation */
          .confetti span:nth-child(2n+1) {
            animation: confetti-anim-1 10s 0s linear infinite;
          }
          
          .confetti span:nth-child(2n+2) {
            animation: confetti-anim-2 10s 0s linear infinite;
          }
          
          /* side position */
          .confetti span:nth-child(1) {
            left: 0%;
          }
          
          .confetti span:nth-child(2) {
            left: 2%;
          }
          
          .confetti span:nth-child(3) {
            left: 4%;
          }
          
          .confetti span:nth-child(4) {
            left: 6%;
          }
          
          .confetti span:nth-child(5) {
            left: 8%;
          }
          
          .confetti span:nth-child(6) {
            left: 10%;
          }
          
          .confetti span:nth-child(7) {
            left: 12%;
          }
          
          .confetti span:nth-child(8) {
            left: 14%;
          }
          
          .confetti span:nth-child(9) {
            left: 16%;
          }
          
          .confetti span:nth-child(10) {
            left: 18%;
          }
          
          .confetti span:nth-child(11) {
            left: 20%;
          }
          
          .confetti span:nth-child(12) {
            left: 22%;
          }
          
          .confetti span:nth-child(13) {
            left: 24%;
          }
          
          .confetti span:nth-child(14) {
            left: 26%;
          }
          
          .confetti span:nth-child(15) {
            left: 28%;
          }
          
          .confetti span:nth-child(16) {
            left: 30%;
          }
          
          .confetti span:nth-child(17) {
            left: 32%;
          }
          
          .confetti span:nth-child(18) {
            left: 34%;
          }
          
          .confetti span:nth-child(19) {
            left: 36%;
          }
          
          .confetti span:nth-child(20) {
            left: 38%;
          }
          
          .confetti span:nth-child(21) {
            left: 40%;
          }
          
          .confetti span:nth-child(22) {
            left: 42%;
          }
          
          .confetti span:nth-child(23) {
            left: 44%;
          }
          
          .confetti span:nth-child(24) {
            left: 46%;
          }
          
          .confetti span:nth-child(25) {
            left: 48%;
          }
          
          .confetti span:nth-child(26) {
            left: 50%;
          }
          
          .confetti span:nth-child(27) {
            left: 52%;
          }
          
          .confetti span:nth-child(28) {
            left: 54%;
          }
          
          .confetti span:nth-child(29) {
            left: 56%;
          }
          
          .confetti span:nth-child(30) {
            left: 58%;
          }
          
          .confetti span:nth-child(31) {
            left: 60%;
          }
          
          .confetti span:nth-child(32) {
            left: 62%;
          }
          
          .confetti span:nth-child(33) {
            left: 64%;
          }
          
          .confetti span:nth-child(34) {
            left: 66%;
          }
          
          .confetti span:nth-child(35) {
            left: 68%;
          }
          
          .confetti span:nth-child(36) {
            left: 70%;
          }
          
          .confetti span:nth-child(37) {
            left: 72%;
          }
          
          .confetti span:nth-child(38) {
            left: 74%;
          }
          
          .confetti span:nth-child(39) {
            left: 76%;
          }
          
          .confetti span:nth-child(40) {
            left: 78%;
          }
          
          .confetti span:nth-child(41) {
            left: 80%;
          }
          
          .confetti span:nth-child(42) {
            left: 82%;
          }
          
          .confetti span:nth-child(43) {
            left: 84%;
          }
          
          .confetti span:nth-child(44) {
            left: 86%;
          }
          
          .confetti span:nth-child(45) {
            left: 88%;
          }
          
          .confetti span:nth-child(46) {
            left: 90%;
          }
          
          .confetti span:nth-child(47) {
            left: 92%;
          }
          
          .confetti span:nth-child(48) {
            left: 94%;
          }
          
          .confetti span:nth-child(49) {
            left: 96%;
          }
          
          .confetti span:nth-child(50) {
            left: 98%;
          }
          
          /* size */
          .confetti span:nth-child(3n+1) {
            width: 1vw;
            height: 0.6vw;
          }
          
          .confetti span:nth-child(3n+2) {
            width: 1.25vw;
            height: 0.8vw;
          }
          
          .confetti span:nth-child(3n+3) {
            width: 1.5vw;
            height: 1vw;
          }
          
          /* colors */
          .confetti span:nth-child(5n+1) {
            background: red;
          }
          
          .confetti span:nth-child(5n+2) {
            background: blue;
          }
          
          .confetti span:nth-child(5n+3) {
            background: green;
          }
          
          .confetti span:nth-child(5n+4) {
            background: pink;
          }
          
          .confetti span:nth-child(5n+5) {
            background: yellow;
          }
          
          
          /* animation-duration */
          .confetti span:nth-child(4n+1) {
            animation-duration: 5s;
          }
          
          .confetti span:nth-child(4n+2) {
            animation-duration: 12s;
          }
          
          .confetti span:nth-child(4n+3) {
            animation-duration: 8s;
          }
          
          .confetti span:nth-child(4n+4) {
            animation-duration: 6s;
          }
          
          
          /* animation-delay */
          .confetti span:nth-child(11n+1) {
            animation-delay: 0s;
          }
          
          .confetti span:nth-child(11n+2) {
            animation-delay: 9s;
          }
          
          .confetti span:nth-child(11n+3) {
            animation-delay: 2s;
          }
          
          .confetti span:nth-child(11n+4) {
            animation-delay: 5s;
          }
          
          .confetti span:nth-child(11n+5) {
            animation-delay: 6s;
          }
          
          .confetti span:nth-child(11n+6) {
            animation-delay: 7s;
          }
          
          .confetti span:nth-child(11n+7) {
            animation-delay: 3s;
          }
          
          .confetti span:nth-child(11n+8) {
            animation-delay: 1s;
          }
          
          .confetti span:nth-child(11n+9) {
            animation-delay: 2s;
          }
          
          .confetti span:nth-child(11n+10) {
            animation-delay: 11s;
          }
          
          .confetti span:nth-child(11n+11) {
            animation-delay: 10s;
          }
          
          /* animation */
          @keyframes confetti-anim-1 {
            0% {
              top: -10%;
              transform: translateX(0) rotateX(0) rotateY(0);
            }
          
            100% {
              top: 100%;
              transform: translateX(20vw) rotateX(180deg) rotateY(360deg);
            }
          }
          
          @keyframes confetti-anim-2 {
            0% {
              top: -10%;
              transform: translateX(0) rotateX(0) rotateY(0);
            }
          
            100% {
              top: 100%;
              transform: translateX(-20vw) rotateX(180deg) rotateY(360deg);
            }
          }

          


/* ////////////////////////////////////////////////////////////////////////////////////////// */

        @media screen and (max-width: 780px) {

            *{
                border: 1px red solid;
            }

            body{
                width: 100%;
                position: relative;
                flex-direction: column-reverse;
            }

            #left{
                display: flex;
                height: 20%;
                width: 75%;
                position: static;     
            }

            
            #right{
                display: flex;
                height: 20%;
                width: 75%;
                position: static;     
            }


            #center{
                height: 60%;
                width: 60%;
            }

            .field{
                height: auto;
            }


            .field table{
                width: 100%;
                height: 100%;
                padding-top: 0;
                margin: 0;
                height: auto;
                border-spacing: 1%;
            }

            .player-hands{
                margin-top: 0;
            }
            
            .enemy-hands{
                margin-bottom: 0;               
            }



            .comdiscard{
                display: none;
                position: absolute;
                width: 25%;
                height: 25%;
                top: 0;
                right: 0;
            }

            .playerdiscard{
                display: none;
                position: absolute;
                height: 25%;
                bottom: 0;
                right: 0;
            }

            /* プレイヤー側 */
            .player{
                position: relative;
                display: block;
                flex-direction: row;
                width: 75%;
                height: 20%;
            }

                        
            .player-character{
                position: absolute;
                display: block;
                top:30%;
                right: 0;
                width: 65%;
                height: 70%;
            }
            
            .life-player{
                position: absolute;
                display: block;
                top: 0;
                right: 0;
                width: 65%;
                height: 30%;
            }


            .playerimgpoint{
                position: relative;
                width: 35%;
                height: 35%;
            }     
            
            /* COM側 */
            
            .enemy{
                position: relative;
                display: flex;
                width: 75%;
                height: 20%;
            }
           
            .com-character{
                position: absolute;
                top: 30%;
                right: 0;
                width: 65%;
                height: 70%;
            }
            
            .life-enemy{
                position: absolute;
                top:0;
                right: 0;
                width: 65%;
                height: 40%;
            }
            
            .comimgpoint{
                position: static;
                width: 35%;
                height: 35%;
            }
            
            /* .enemy-hands{
                width: 75%;
            }

            .player-hands{
                width: 75%;
            } */
            

        }