@charset "utf-8";
*{
  border: 1px red solid;
}

*{
  text-decoration: none;
  box-sizing: border-box;
}

html{
  height: 100%;
}

header{
  display: flex;
  justify-content: space-around;
  background-color: cornflowerblue;
  width: 100%;
}

header div {
  margin: 2%;
  display: block;
  
}

body{
  width: 100%;
  width: 100%;
    background-color: cadetblue;
    font-size: 0.6rem;
    margin: 0;
}

img{
    max-width: 100%;
    height: auto;

    vertical-align: top;
}


/* サイコロ部分 */

#main{
    width: 80%;    
    display: flex;
    background-color: aquamarine;
    text-align: center;
    margin: auto;

}

#left{
  width: 35%;
  margin: 0;
}

#center{
  width: 30%;
  margin: 0;
} 

#right{
  width: 35%;
  margin: 0;
}

#main #left img{
  max-width: 450px;
  background-color: rgb(9,97,163);
}

#main #center{
  width: 30%;
}

#main #right img{
  max-width: 450px;
  background-color: brown;
}


#playerMainMirror, #enemyMainMirror {
  margin: 2%;
  width: 60%;
  height: 50%;
  object-fit: cover;

}

#main h3{
  margin: 3%;
  display: inline-block;
  width: 90%;
  background-color: bisque;
  border: 2px black solid;
  font-size: 200%;
  font-weight: bold;
  border-radius: 10px;
}

.battleContent{
  width: 100%;
  height: 30%;
  margin: 5% 0;
  padding: 5%;
  border-radius: 20px;
}

#center .vs{
  width: 60%;
}

.diceContent{
    width: 100%;
    height: 30%;
    margin: 3% auto;
    padding: 5%;
    background: #333;
    border-radius: 20px;
}

.dicetable {
  height: 40%;
  display: flex;

}


#diceBtn1{
  margin-top: 15%;
    width: 60%;
    height: 30%;
    /* transform: translate(50%); */
    border-radius: 10px;
}
#dice1{
    width: 50%;
    transform: translate(50%);
}

#dice2 {
    width: 50%;
    height: 50%;
    transform-style: preserve-3d;
    animation: rotate-animation 2s linear infinite;
  }

  #dice3{
    width: 50%;
    transform: translate(50%);
}

#dice4 {
    width: 50%;
    height: 50%;
    transform-style: preserve-3d;
    animation: rotate-animation 1s linear infinite;
  }


  #dice2 .item, #dice4 .item{
    border: 1px solid #333;
    width: 50%;
    height: 50%;
  }
  /* 1 */
  #dice2 .item:nth-child(1) ,#dice4 .item:nth-child(1)  {
    transform: translate3d(0, -50%, 0) rotateX(-90deg);
    background: url() no-repeat
    center center / 100% 100%;
  }
  /* 2 */
  #dice2 .item:nth-child(2),  #dice2 .item:nth-child(2) {
    transform: translate3d(0, 0, 50%);
    background: url() no-repeat
    center center / 100% 100%;
  }
  /* 3 */
  #dice2 .item:nth-child(3) ,  #dice4 .item:nth-child(3){
    transform: translate3d(15%, 0, 0) rotateY(90deg);
    background: url() no-repeat
    center center / 100% 100%;
  }
  /* 4 */
  #dice2 .item:nth-child(4) , #dice4 .item:nth-child(4) {
    transform: translate3d(-15%, 0, 0) rotateY(-90deg);
    background: url() no-repeat
    center center / 100% 100%;
  }
  /* 5 */
  #dice2 .item:nth-child(5) , #dice4 .item:nth-child(5) {
    transform: translate3d(0, 0, -15%) rotateY(180deg);
    background: url() no-repeat
    center center / 100% 100%;
  }
  /* 6 */
  #dice2 .item:nth-child(6) , #dice4 .item:nth-child(6) {
    transform: translate3d(0, 15%, 0) rotateX(-90deg);
    background: url() no-repeat
    center center / 100% 100%;
  }
  @keyframes rotate-animation {
    from {
      transform: rotate3d(1, 1, 1, 0deg);
    }
    25% {
      transform: rotate3d(1, 1, 1, 90deg);
    }
    50% {
      transform: rotate3d(1, 1, 1, 180deg);
    }
    75% {
      transform: rotate3d(1, 1, 1, 270deg);
    }
    to {
      transform: rotate3d(1, 1, 1, 360deg);
    }
  }



  /* 先攻後攻決定 */
  .speed p{
    margin: 0;
    padding: 1%;
    width: 25%;

  }

  .speed .dicespeed{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .speed .characterspeed{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .speed .totalspeed{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }


#playerturn{
  font-size: 50px;
  width: 90%;
  height: 100%;
  margin: 10% auto;
}

#comturn{
  font-size: 50px;
  width: 90%;
  height: 20%;
  margin: 10% auto;
}

#left, #right{
  margin: auto;
}

#samenumberlog{
  width: 100%;
  text-align: center;
}

.advance{
  background-color: gold;
}

.secondAttack{
  background-color: cadetblue;
}

.somenumber{
  background-color: dimgrey;
}

#gamestart{
  /* display: none; */
  /* display: flex; */
  justify-content: space-between;
  background-color:darkgrey;
  z-index: 5;
  border-radius: 5%;
  margin: 0;
}

#gamestart button{
  display: inline-block;
  width: 40%;
  height: 20%;
}

#playernumber{
  display: none;
}

#comnumber{
  display: none;
}

@media screen and (max-width:700px){
  body{
    background-color: aqua;

    font-size: 1rem;
  }
}